.footer__container{
    background-color: var(--color-a);
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-d);
}

.footer__inner{
    background-color: var(--color-b);
    height: 80%;
    width: 80%;
    max-width: 990px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-right{
    max-width: 50%;
    
}


.titulo-flecha{
    font-size: 16px;
    
}
.titulo-flecha:hover{
    color: skyblue;
}


.footer-bottom{
    border-top: 2px solid var(--color-c);
    width: 80%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.botonMas{
    background-color:var(--color-c);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    
}


.botonMas:hover{
    box-shadow: 1px 1px 10px var(--color-d);
}

.footer-pais{
    background-color: var(--color-a);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 3px; 
    
}
.linkMas{
    text-decoration: none;
    font-size: 18px;
    color: var(--color-a);
    width: 100%;
    cursor: pointer;
}
.iconoPaisCont{
    flex: auto;
    width: 50%;
}
.iconoPais{
    max-height:20%;
    max-width:20%;
    padding: 0;
    margin: auto;
}
.linkTwitter{
    margin: auto;
    flex: auto;
}
.iconoTwitter{
    height: 30px;
}

@media screen and (min-width: 800px){
    
.iconoTwitter{
    height: 35px;
}


}
