.footer__container{
    background-color: var(--color-a);
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-d);
}

.footer__inner{
    background-color: var(--color-b);
    height: 70%;
    width: 80%;
    max-width: 990px;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-text{
    font-size: 12px;
    background-color: var(--color-a);
    padding: 1rem;
    border-radius: 3px;    
    cursor: pointer;
}
.footer-text a{
    color: var(--color-d);
}
.footer-text a:hover{
    color: greenyellow;
}
.footer-left{
    text-align: center;
    font-size: 11px;
}

.footer-left img{
    height: 25px;
    margin-top: 1rem;
    background-color: var(--color-c);
    border-radius: 50%;
    padding: 0.2rem;
}

.footer-bottom{
    border-top: 2px solid var(--color-c);
    width: 80%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

