.main__inicio{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 90vh;
    max-width: 990px;
    background-color: var(--color-a);  
}
.main__h1{
    margin: 2rem;
    font-size: 25px;
    text-transform:capitalize;
    font-weight: 100;
}

.main__inicio-parrafo{
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 100;
    font-size: 16px;
}
.link{
    color:cyan;                        
}
.cartas{
    background-color: var(--color-a);    
    width: 100vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartas__titulo{
    font-size:25px ;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 2rem;
}
.cartas__contenedor{
    background-color: rgb(38, 65, 65);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    border-radius: 5px;
    max-width: 900px;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
}
.carta--staff{
    background-color:var(--color-a);
    border: 1px solid var(--color-c);
    border-radius:15px 15px 0 0;
    width: 100%;
    max-width:310px ;
    min-width: 270px;
    height: 380px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}
.carta-titulo{
    color:var(--color-d);
    text-align: center;
    padding: 0;
    font-size: 18px;
    height: 7%;
}
.carta-imagen{
    height: 53%;
    min-width: 96%;
    align-self: center;
    background-color: var(--color-a);
    filter: brightness(110%);
    border-radius: 15px 15px 0 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.carta-imagen:hover{   
    filter: brightness(115%);
    border: 1px solid var(--color-c);
    box-shadow: 1px 1px 10px 2px #141E27;
    transition: all 0.4s;
}
.carta__textoArea{
    background-color: var(--color-c);
    color: var(--color-b);
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-principal);
    border: 1px solid var(--color-a);
    margin: 0 0.2rem 0.2rem 0.2rem;
    height:40%;
}

.item{
    display: flex;
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.2rem;
}

.textoArea-detalle{
    margin: 0 0.1rem;
    font-size: 14px;
    margin:0.4rem 0.2rem 0 0.2rem;
    text-align:right;
}



@media screen and (min-width: 800px){
    .textoArea-detalle{
        font-size: 15px;
    }
    .main__h1{
        margin-top: 0;
        font-size: 33px;
    }
    
    .main__inicio-parrafo{
        font-size: 25px;
    }

    .cartas__contenedor{
        padding: 2rem;
    }
    .carta--staff{
        margin: 1rem;
        
    }

}